body{
    background-image: url('r3.jpg');
}

#container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 284px;
}

#header{
    background-color:#66CCFF;
    color:white;
    text-align: center;
    }

#content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav{
    width: 180px;
    float: left;
}

#main{
    width: 600px;
    float:right;
}

#footer{
    clear:both;
    text-align: right;
    background-color: grey;
    color: white;
}

#nav .selected{
    font-weight:bold;
}

a{
    text-decoration:none;

}

#nav ul{
    list-style-type: none;
    padding: 0%;
}

h1{
    margin:0;
}

a:link {
    color: red;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    color: hotpink;
    text-decoration: none;
  }
  
  a:active {
    color: blue;
  }
